@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-menu {
  position: relative;
  max-width: 256px;
  background: #001529;
  padding-top: 10px;
}

.App-menu-ul {
  padding: 16px 0px;
  width: 100%;
}

.App-menu-btn {
  position: absolute;
  z-index: 10;
  right: -45px;
}

.App-menu-li {
  text-align: left;
}